<!DOCTYPE html>
<html lang="en-UK">
	<head>
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>Mickoblog Homepage</title>
		{% endif %}
	</head>
	<body style="background-color:powderblue;">
		<p>
		<div>Microblog:
			<a href="/">Home</a>
			<a href="/login">Login</a>
		</div>
		</p>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ol>
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
		</ol>
		{% endif %}
		{% endwith %}
		{% block mycont %}
		{% endblock %}
	</body>
</html>
		
